In [7]:
#Importación de librerías
import numpy as np
import pandas as pd

In [4]:
#Lectura de datos
data_train = pd.read_csv('HTRU_2.csv')

In [8]:
data_train.head()

,ip_mean,ip_sd,ip_ek,ip_sk,DMSNR_mean,DMSNR_sd,DMSNR_ek,DMSNR_sk
140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0